<nav>
  <a [routerLink]="['/dashBoard']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Dashboard</a>
  <a [routerLink]="['/exams']" [routerLinkActive]="['router-link-active']">Exams</a>
  <a [routerLink]="['/subscriptions']" [routerLinkActive]="['router-link-active']">My subscriptions</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">About</a>
  <a [routerLink]="['/login']" [routerLinkActive]="['router-link-active']">Logout</a>
</nav>