/*:host {
  display: block;
  padding: 0 16px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  margin-bottom: 0;
  margin-top: 0.83em;
}*/

.login-box{
  width: 350px;
  background-color: rgba(128,176,24, 0.7);
  border-radius: 5px;
  padding: 15px;
  border: 1px solid rgb(198, 218, 205);
}
.login-box .input-group-addon{
  border: solid #fff;
  border-width: 1px 0 1px 1px;
  background-color: transparent;
  min-width: 40px;
  color:#fff;
}
.login-box  input{
  border: solid #fff;
  border-width: 1px 1px 1px 0;
  background-color: transparent;
  padding-left: 0;
  color:#fff;
}
/*.login-box  input[type='checkbox']{
background: transparent;
border: 1px solid #fff;
}*/
.foget-password{
  color:#fff;
  float: right;
  clear: right;
}
.login-box  .form-group{
  margin: 25px 0;
}
.login-box  input::-webkit-input-placeholder { /* Chrome */
  color: #fff;
}
.login-box  input:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.login-box  input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  opacity: 1;
}
.login-box  input:-moz-placeholder { /* Firefox 4 - 18 */
  color: #fff;
  opacity: 1;
}
.btn-green{
  background: #536d00;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  border: none;
  color: #fff;
  border-radius: 0;
}
.stay-signin{
  color:#fff;
  font-size: 12px;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
}
