
<div class="container-fluid bg-image">
  <div class="row">
    <div class="logo center-block">
      <a href="#"><img src="../../../assets/images/logo.png" alt=""></a>
    </div>
    <div class="center-block login-box"  >
      <div >


        <!-- <h1>Login</h1> -->
        <form [formGroup]="loginForm" (ngSubmit)="login()">
          <div class="form-group ">
            <!-- <label for="username">Username</label> -->
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1" ><i class="fa fa-user-circle-o"></i></span>
              <input type="text" class="form-control" formControlName="userName" placeholder="Username" id="email" />
            </div>



            <control-messages [control]="loginForm.controls.userName"></control-messages>

          </div>

          <div class="form-group">
            <!-- <label for="password">Password</label> -->
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1" ><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" formControlName="password" placeholder="Password">
            </div>

            <control-messages [control]="loginForm.controls.password"></control-messages>

            <small *ngIf="loginError">
             {{loginError}}
          </small>

          </div>
          <button type="submit" class="btn btn-default btn-green" [disabled]="!loginForm.valid">Log in</button>
          <div class="stay-signin">
            <div class="checkbox">
            <label>
                <input type="checkbox"> Stay signed in
              </label>
              <a href="#" class="foget-password">Trouble signing in?</a>
            </div>


          </div>
        </form>
      </div>

      <a href="" class="btn btn-default btn-green" routerLink="/signup" routerLinkActive="active">SignUp</a>
    </div>

  </div>
</div>
