<div class="login jumbotron center-block">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="username">Username</label>
      <input formControlName="userName" id="email" />

      <control-messages [control]="loginForm.controls.userName"></control-messages>

    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="password">
      <control-messages [control]="loginForm.controls.password"></control-messages>
      <!--<small *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched ">
        Password is required.
    </small>
    <small *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].hasError('minlength')">
       minimum 5 characters needed.
    </small>-->


    </div>
    <button type="submit" class="btn btn-default" [disabled]="!loginForm.valid">Log in</button>
  </form>
</div>

<a href="" routerLink="./signUp" routerLinkActive="active">SignUp</a>