
<form [formGroup]="form">
  <div class="col-md-12">
    <div class="form-group">
      <textarea formControlName="answer" rows="2" cols="auto" class="form-control"
      [ngClass]="{'correct': (showAnswer && evaluation === ANSWER_EVALUATION_TYPE.CORRECT),
            'wrong': (showAnswer && evaluation === ANSWER_EVALUATION_TYPE.WRONG)}"></textarea>
    </div>

  </div>

</form>


<div *ngIf="isSampleQuestion">
  <div class="col-md-12">
    <div class="form-group">
        <textarea *ngIf="showAnswer" class="form-control" rows="2" cols="auto">{{explanation?.content}}</textarea>
    </div>

  </div>
<div class="col-md-12">
  <button type="button" class="btn btn-success" (click)="showAnswer = !showAnswer">{{!showAnswer ? "Show" : "Hide" }} Answer</button>
</div>

</div>
