<form [formGroup]="form">
  <div class="col-md-12">
    <ul class="mcq-ul">
      <li *ngFor="let choice of choices; let i = index; trackBy: trackByFn"
          [ngClass]="{'correct': (showAnswer && evaluations[i] === ANSWER_EVALUATION_TYPE.CORRECT),
            'wrong': (showAnswer && evaluations[i] === ANSWER_EVALUATION_TYPE.WRONG)}">
        <input type="checkbox"  formControlName="answer[{{i}}]" /> {{choice.content}}
        <!--(change)="answer.selected = !answer.selected"-->
      </li>
    </ul>
  </div>

</form>

<div *ngIf="isSampleQuestion">
  <div class="col-md-12">
    <!--<textarea *ngIf="showAnswer" rows="2" cols="auto">{{explanation?.content}}</textarea>-->
    <button type="button" class="btn btn-success" (click)="showAnswer = !showAnswer">{{!showAnswer ? "Show" : "Hide" }} Answer</button>
  </div>

</div>
