
<form [formGroup]="form">
    <textarea formControlName="answer" rows="2" cols="auto"
    [ngClass]="{'correct': (showAnswer && evaluation === ANSWER_EVALUATION_TYPE.CORRECT),
          'wrong': (showAnswer && evaluation === ANSWER_EVALUATION_TYPE.WRONG)}"></textarea>
</form>


<div *ngIf="isSampleQuestion">
  <textarea *ngIf="showAnswer" rows="2" cols="auto">{{explanation?.content}}</textarea>
  <button type="button" class="btn btn-success" (click)="showAnswer = !showAnswer">{{!showAnswer ? "Show" : "Hide" }} Answer</button>
</div>
