<form [formGroup]="form">
  <div class="col-md-12">
    <ul class="mcq-ul">
      <li *ngFor="let choice of choices; let i = index; trackBy: trackByFn" [ngClass]="{'correct': (showAnswer && evaluations[i] === ANSWER_EVALUATION_TYPE.CORRECT),
            'wrong': (showAnswer && evaluations[i] === ANSWER_EVALUATION_TYPE.WRONG)}">
        <input type="radio" formControlName="answer" value="{{choice.content}}" /> {{choice.content}}
      </li>
    </ul>
  </div>

</form>

<div *ngIf="isSampleQuestion">
<!--<<<<<<< HEAD-->
  <!--<textarea *ngIf="showAnswer" rows="2" cols="auto">{{explanation?.content}}</textarea>-->
  <!--<button type="button" (click)="showAnswer = !showAnswer">{{!showAnswer ? "Show" : "Hide" }} Answer</button>
</div>-->

  <!--<textarea *ngIf="showAnswer" rows="2" cols="auto">{{explanation?.content}}</textarea>-->

  <div class="col-md-12">
    <button type="button" class="btn btn-success" (click)="showAnswer = !showAnswer">{{!showAnswer ? "Show" : "Hide" }} Answer</button>
  </div>

</div>
