/*:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}*/

.outlet{
    margin-left:330px;
    position:relative;
    
}


.navBar{
    margin:40px;
    position:relative;
}