/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}
html{
  width: 100%;
  height: 100%;
}
/* Set up a default font and some padding to provide breathing room */
body {
  /*font-family: Roboto, "Helvetica Neue", sans-serif;*/
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background:#ecf0f5 url(../../assets/images/main/main-background.jpg ) ;*/
    background:#ecf0f5;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
}
.bg-image:after{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background:#ecf0f5 url(../../assets/images/main/main-background.jpg ) !important;
}

.logo{
  width: 169px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/*login / signin page css*/

.login-box{
  width: 350px;
  background-color: rgba(128,176,24, 0.7);
  border-radius: 5px;
  padding: 15px;
  border: 1px solid rgb(198, 218, 205);
}
.login-box .input-group-addon{
  border: solid #fff;
  border-width: 1px 0 1px 1px;
  background-color: transparent;
  min-width: 40px;
  color:#fff;
}
.login-box  input{
  border: solid #fff;
  border-width: 1px 1px 1px 0;
  background-color: transparent;
  padding-left: 0;
  color:#fff;
}
.login-box select{
  border: solid #fff;
  border-width: 1px;
  border-radius: 4px;
  padding-left: 0;
  padding: 6px 12px;
  font-size: 14px;
  width: 100%;
  background-color:transparent;
  color:#fff;
}
.login-box select option {
    background:  rgba(128,176,24, 0.7);
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}

/*.login-box  input[type='checkbox']{
background: transparent;
border: 1px solid #fff;
}*/
.foget-password{
  color:#fff;
  float: right;
  clear: right;
}
.login-box  .form-group{
  margin: 25px 0;
}
.login-box  input::-webkit-input-placeholder { /* Chrome */
  color: #fff;
}
.login-box  input:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.login-box  input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  opacity: 1;
}
.login-box  input:-moz-placeholder { /* Firefox 4 - 18 */
  color: #fff;
  opacity: 1;
}
.btn-green{
  background: #536d00;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  border: none;
  color: #fff;
  border-radius: 0;
}
.stay-signin{
  color:#fff;
  font-size: 12px;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
  padding-bottom: 20px;
}
control-messages,
small{
  font-size: 10px;
  color:#d12e2e;
}
/*login / signin page css*/
/*
p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
#ff0000  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}*/

/*input {
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}

button {
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: #28739e;
}*/
