<div class="row">
  <div class="col-md-12">
    <div class="logotext">
      <h2>Welcome To<br/>examefeet.com</h2>
      <p>App Version 0.0.5</p>
      <br/>
      <p>We created the examefeet.com to assist students and professionals in earning challenging credentials by providing affordable
        and engaging test prep solutions.</p>

      <p>Plenty of top-quality content to make sure you’re ready for those exams. Test your knowledge with our revision quiz
        questions and then check your answer against a detailed explanation. Multiple Quizzes sessions , so you can approach
        your revision in bitesize chunks.</p>
    </div>
  </div>
</div>